name: Check the source code
on:
  pull_request:
    branches:
      - main
jobs:
  check_code:
    name: Check the source code
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v4.1.0
        with:
          node-version: '22.11.0'
      - name: Install dependencies
        run: npm install
      - name: Prettier
        run: npm run format
      - name: CSpell
        run: npm run cspell
      - name: ESLint
        run: npm run lint
